---

---
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Buttons</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://raw.githubusercontent.com/argyleink/open-props/ce8c2d30c5be41c7bf00feb28894e1cd8744814f/src/props.easing.css" rel="stylesheet">
        <link href="https://use.typekit.net/htw6kjt.css" rel="stylesheet">
    </head>
    <body>
        <fieldset>
            <legend>Slide Animation (Default)</legend>
            <input type="checkbox" class="chip" role="switch" value="Pear" aria-label="Pear" />
            <input type="checkbox" class="chip" role="switch" value="Banana" aria-label="Banana" style="--color: #fd5" checked />
            <input type="checkbox" class="chip" role="switch" value="Apple" aria-label="Apple" style="--color:#f88" />
            <input type="checkbox" class="chip" role="switch" value="Peach" aria-label="Peach" style="--color:#fa3" />
          </fieldset>
          
          <fieldset>
            <legend>Grow Animation</legend>
            <input type="checkbox" class="chip grow" role="switch" value="Pear" aria-label="Pear" />
            <input type="checkbox" class="chip grow" role="switch" value="Banana" aria-label="Banana" style="--color: #fd5" />
            <input type="checkbox" class="chip grow" role="switch" value="Apple" aria-label="Apple" style="--color:#f88" />
            <input type="checkbox" class="chip grow" role="switch" value="Peach" aria-label="Peach" style="--color:#fa3" checked />
          </fieldset>
          
          <fieldset>
            <legend>Bounce Animation</legend>
            <input type="checkbox" class="chip bounce" role="switch" value="Pear" aria-label="Pear"  />
            <input type="checkbox" class="chip bounce" role="switch" value="Banana" aria-label="Banana" style="--color: #fd5" />
            <input type="checkbox" class="chip bounce" role="switch" value="Apple" aria-label="Apple" style="--color:#f88" checked />
            <input type="checkbox" class="chip bounce" role="switch" value="Peach" aria-label="Peach" style="--color:#fa3" />
          </fieldset>
          
          <fieldset>
            <legend>Disabled Styles</legend>
            <input type="checkbox" class="chip bounce" role="switch" value="Pear" aria-label="Pear" disabled />
            <input type="checkbox" class="chip bounce" role="switch" value="Banana" aria-label="Banana" style="--color: #fd5" disabled/>
            <input type="checkbox" class="chip bounce" role="switch" value="Apple" aria-label="Apple" style="--color:#f88" checked disabled />
            <input type="checkbox" class="chip bounce" role="switch" value="Peach" aria-label="Peach" style="--color:#fa3" checked disabled />
          </fieldset>
    </body>
</html>

<style>
input:where(.chip[type="checkbox"]) {
  --color: #6c6;
  font-size: 1rem;
  appearance: none;
  position: relative;
  padding: 0.5em 1em 0.5em 2em;
  border: 1px solid #0004;
  border-radius: 100em;
  overflow: hidden;
  margin: 0;
  display: inline-block;
  
  &::after {
    content: attr(value);
    white-space: pre;
    line-height: 1;
    position: relative;
  }
  
  &::before {
    content: "";
    display: inline-block;
    width: 0.75em;
    aspect-ratio: 1;
    background: linear-gradient(currentcolor 0 0), linear-gradient(currentcolor 0 0);
    background-position: -200% -2em, 2em -200%, 50% 50%;
    background-size: 1em 0.125em, 0.125em 1em;
    background-repeat: no-repeat;
    background-color: var(--color);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 1.125em;
    translate: -50% -50%;
    rotate: 45deg;
    transition: width 0.25s, background-position 0.5s;
  }
  
  &.grow, &.bounce {
    &::before {
      background-position: 50% 50%, 50% 50%, 50% 50%;
      background-size: 0 0, 0 0;
      transition: width 0.25s, background-size 0.5s;
    }
  }
  
  &.bounce {
    &::before {
      transition-timing-function: ease-in-out, cubic-bezier(0.75, 0, 0.5, 2);
    }
  }
  
  &:checked {
    &::before {
      width: 200%;
      background-position: 50% 50%, 50% 50%, 50% 50%;
      background-size: 1em 0.125em, 0.125em 1em;
    }
  }
  
  &:disabled {
    --color: #eee !important;
    color: #6c6c6c;
    border-color: #0001;
  }
  
  &:hover:not(:disabled) {
    border-color: #000a;
    background-color: rgb(from var(--color) r g b / 10%);
    transition: 0.4s;
  }
}

@media print {
  input:where(.chip[type="checkbox"]) {
    &, &::before, &::after {
      -webkit-print-color-adjust: exact;
      print-color-adjust: exact;
    }
  }
}

@media (prefers-reduced-motion) {
  input:where(.chip[type="checkbox"]) {
    &, &::before, &::after {
      transition: none !important;
    }
  }
}





/* DEMO - START */
body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 3em;
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

fieldset {
  border-color: #0000;

  & legend {
    color: #666696;
    font-weight: 500;
  }
}
/* DEMO - END */
</style>