---

---
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Background</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div id="app">
            <canvas id="webgl-canvas"></canvas>
            <div id="hero">
              <h1>Bokeh background</h1>
            </div>
          </div>          
    </body>
</html>

<style>
@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&amp;display=swap);

body, html, #app {
  margin: 0;
  width: 100%;
  height: 100%;
}

#app {
  overflow: hidden;
  touch-action: pan-up;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  text-shadow: 0 0 5px #ffffff, 0 0 20px #000, 0 0 30px #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

#app h1 {
  font-size: 60px;
  text-transform: uppercase;
}

#app a {
  text-decoration: none;
  color: #fff;
}

#app canvas {
  display: block;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

</style>

<script>
import { Bokeh1Background } from 'https://cdn.jsdelivr.net/npm/threejs-components@0.0.2/build/backgrounds/bokeh1.cdn.min.js'

const bokeh1Background = Bokeh1Background(document.getElementById('webgl-canvas'))
bokeh1Background.loadMap('https://cdn.jsdelivr.net/npm/threejs-components@0.0.2/build/assets/bokeh-particles2.png')
bokeh1Background.setColors([0x6d4862, 0xfd826c, 0x22ccc1])

document.body.addEventListener('click', () => {
  // bokeh1Background.setBackgroundColor(0xffffff * Math.random())
  bokeh1Background.setColors([0xffffff * Math.random(), 0xffffff * Math.random(), 0xffffff * Math.random()])
})
</script>