---

---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <title>Loading</title>
  </head>
  <body>
    <div class="ring" data-text="Loading..."></div>
  </body>
</html>

<style lang="scss">
.ring {
  
  --s: 50vmin;
  --clr: #FFE681;
  --shd1: color-mix(in lab, var(--clr), #fff5); 
  --b1: 140% 145% 141% 166%;
  --b2: 147% 200% 178% 150%;
  border-radius: var(--b1);
  border: 1px solid var(--clr);
  
  position: fixed;
  pointer-events: none;
  z-index: -100;
  width: var(--s);
  height: var(--s);
  top: calc(50% - var(--s) / 2);
  left: calc(50% - var(--s) / 2);
  
  box-sizing: border-box;
  rotate: -55deg;
  animation: 
    brd1 1s infinite linear alternate,
    rot 30s infinite linear forwards;
  &:before,
  &:after {
    content: '';
    box-sizing: border-box;
    position: absolute;
    inset: 0;
    border: inherit;
  }
  &:before {
    --b2: 185% 158% 160% 150%;
    --b1: 147% 200% 178% 150%;
    border-radius: var(--b1);
    
    rotate: 55deg;
    animation: 
      brd1 1.5s infinite linear alternate,
    rot 30s infinite linear forwards reverse;
    
    content: attr(data-text);
    display: grid;
    place-content: center;
    align-content: center;
    font-family: system-ui, sans-serif;
    font-size: calc(var(--s) / 10);
    text-shadow: 1px 1px .5em #000;
  }
  &:after {
    --b1: 185% 158% 160% 150%;
    --b2: 140% 145% 141% 166%;
    border-radius: var(--b1);

    rotate: 35deg;
    animation: 
      brd1 2s infinite linear alternate,
    rot 40s infinite linear forwards reverse;
  }
  
  filter: 
    drop-shadow(0 0 1vmin var(--shd1))
    drop-shadow(.1em .1em .05em var(--shd1))
    drop-shadow(-.1em -.1em .05em var(--shd1));
}

@keyframes brd1 {
  to {
    border-radius: var(--b2);
  }
}

@keyframes rot {
  to {
    transform: rotatez(360deg);
  }
}
body {
  min-height: 100vh;
  margin: 0;
  background-image:
    radial-gradient(
      circle at center,
      #2E4755,
      #1f2020
    );
  color: #fefefe;
}
</style>