---

---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Parallax</title>
  </head>
  <body>
    <section id="spring" class="season">
        <img class="background" src="https://assets.codepen.io/8292695/spring-background.svg" alt="Spring background" />
        <img class="middleground" src="https://assets.codepen.io/8292695/spring-middleground.svg" alt="Spring middleground" />
        <img class="foreground" src="https://assets.codepen.io/8292695/spring-foreground.svg" alt="Spring foreground" />
      </section>
      
      <section id="autumn" class="season">
        <img class="background" src="https://assets.codepen.io/8292695/autumn-background.svg" alt="Autumn background" />
        <img class="middleground" src="https://assets.codepen.io/8292695/autumn-middleground.svg" alt="Autumn middleground" />
        <img class="foreground" src="https://assets.codepen.io/8292695/autumn-foreground.svg" alt="Autumn foreground" />
      </section>
      
      <section id="winter" class="season">
        <img class="background" src="https://assets.codepen.io/8292695/winter-background.svg" alt="Winter background" />
        <img class="middleground" src="https://assets.codepen.io/8292695/winter-middleground.svg" alt="Winter middleground" />
        <img class="foreground" src="https://assets.codepen.io/8292695/winter-foreground.svg" alt="Winter foreground" />
      </section>
      
      <section id="summer" class="season">
        <img class="background" src="https://assets.codepen.io/8292695/summer-background.svg" alt="Summer background" />
        <img class="middleground" src="https://assets.codepen.io/8292695/summer-middleground.svg" alt="Summer middleground" />
        <img class="foreground" src="https://assets.codepen.io/8292695/summer-foreground.svg" alt="Summer foreground" />
      </section>
      
      <button id="menu-button">
        <span></span>
      </button>
      
      <div id="menu-season">
        <button id="spring-btn">Spring</button>
        <button id="summer-btn">Summer</button>
        <button id="autumn-btn">Autumn</button>
        <button id="winter-btn">Winter</button>
      </div>

      <script is:inline src="https://unpkg.co/gsap@3/dist/gsap.min.js"></script>
  </body>
</html>

<style>
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.background,
.middleground,
.foreground {
  position: absolute;
  scale: 0;
}

.season {
  position: absolute;
  width: 500px;
  height: 350px;
  border-radius: 30px;
  margin-bottom: 100px;
}

/* -- Spring -- */

#spring {
  background: linear-gradient(#4ad4ff, #fff);
  opacity: 0;
}

#spring > .background {
  top: 182px;
  left: -30px;
}

#spring > .middleground {
  top: 66px;
  left: -39px;
}

#spring > .foreground {
  top: -10px;
  left: 46px;
}

/* -- Summer -- */

#summer {
  background: linear-gradient(#0694fb, #e7f2fb);
  opacity: 0;
}

#summer > .background {
  top: 217px;
  left: -87px;
}

#summer > .middleground {
  top: 133px;
  left: 58px;
}

#summer > .foreground {
  top: -42px;
  left: -134px;
}

/* -- Autumn -- */

#autumn {
  background: linear-gradient(#f3ba89, #f9eca9);
  opacity: 0;
}

#autumn > .background {
  top: 152px;
  left: 16px;
}

#autumn > .middleground {
  top: 78px;
  left: -44px;
}

#autumn > .foreground {
  top: -35px;
  left: 47px;
}

/* -- Winter -- */

#winter {
  background: linear-gradient(#a2b6c0, #ecdcbc);
  opacity: 0;
}

#winter > .background {
  top: 164px;
  left: -35px;
}

#winter > .middleground {
  top: 105px;
  left: 66px;
}

#winter > .foreground {
  top: 39px;
  left: -118px;
}

/* -- Menu -- */

#menu-button {
  position: absolute;
  width: 110px;
  height: 50px;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.1);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  bottom: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.25);
  cursor: pointer;
  z-index: 50;
  transition: 200ms ease;
}

#menu-button:hover {
  color: black;
  background: white;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.2);
}

#menu-button:active {
  color: white;
  background: black;
  scale: 0.9;
}

#menu-season {
  position: absolute;
  padding: 6px;
  bottom: 60px;
  border-radius: 10px;
  gap: 4px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.1);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: black;
  scale: 0;
}

#menu-season > button {
  width: 70px;
  height: 30px;
  border-radius: 5px;
  border: none;
  background: transparent;
  font-weight: bold;
  color: white;
  transition: 400ms ease;
  cursor: pointer;
}

#menu-season > button:active,
#menu-season > .selected {
  background: white;
  color: black;
}

</style>


<script>
const menuButton = document.querySelector("#menu-button");
const seasonTxt = document.querySelector("#menu-button > span");

const seasonMenu = document.querySelector("#menu-season");
const seasonButtons = document.querySelectorAll("#menu-season > button");

let currSeason = getCurrentSeason();
let menuActive = false;

// Animates in the current season
function init() {
  seasonTitleChange(currSeason);
  currSeason = currSeason.toLowerCase();
  transitionAnimation("spring", currSeason, true);
}
init();

// Menu click event
menuButton.addEventListener("click", () => {
  if (!menuActive) {
    menuInAnimation();
  } else {
    menuOutAnimation();
  }
});

// Change season depending on choice
seasonButtons.forEach((button) => {
  // change style on click
  button.addEventListener("click", () => {
    const clickedSeasonText = button.innerHTML.toLowerCase();
    let prevSeasonText = "";

    seasonButtons.forEach((button) => {
      btnSeasonText = button.innerHTML.toLowerCase();
      if (btnSeasonText === currSeason) {
        prevSeasonText = btnSeasonText;
        button.classList = "";
      }
    });

    button.classList.add("selected");

    menuOutAnimation();
    currSeason = button.innerHTML.toLowerCase();

    transitionAnimation(prevSeasonText, currSeason);
    seasonTitleChange(button.innerHTML);
  });

  // initial style
  const initSeasonText = button.innerHTML.toLowerCase();
  if (initSeasonText === currSeason) {
    button.classList.add("selected");
  }
});

// Gets the initial season depending on the IRL month
function getCurrentSeason() {
  const currentDate = new Date();
  const month = currentDate.getMonth();

  let season;
  if (month >= 2 && month <= 4) {
    // March, April, May
    season = "Spring";
  } else if (month >= 5 && month <= 7) {
    // June, July, August
    season = "Summer";
  } else if (month >= 8 && month <= 10) {
    // September, October, November
    season = "Autumn";
  } else {
    // December, January, February
    season = "Winter";
  }

  return season;
}

// Makes menu jump in from behind menu button
function menuInAnimation() {
  menuActive = true;
  gsap.to(seasonMenu, {
    y: -60,
    scale: 1,
    duration: 0.8,
    ease: "elastic.out(0.8, 0.6)"
  });
}

// Makes menu jump back behind menu button
function menuOutAnimation() {
  menuActive = false;
  gsap.to(seasonMenu, {
    y: 0,
    scale: 0,
    duration: 0.8,
    ease: "elastic.in(0.8, 0.6)"
  });
}

// Makes menu button title fade out/in when changing season
function seasonTitleChange(newSeason) {
  gsap.to(seasonTxt, {
    opacity: 0,
    onComplete: function () {
      seasonTxt.innerHTML = newSeason;
      gsap.to(seasonTxt, {
        opacity: 1
      });
    }
  });
}

// The bulk of the animation that makes each layer pop in on transition
function transitionAnimation(oldSeason, newSeason, init = false) {
  const timeline = gsap.timeline();

  const oldSeasonBg = document.querySelector(`#${oldSeason}`);
  const oldImages = document.querySelectorAll(`#${oldSeason} > img`);

  // Artificial delay
  if (!init) {
    timeline.to(oldSeasonBg, {
      duration: 1
    });
  }

  // Bouncy out effect
  oldImages.forEach((image) => {
    timeline.to(image, {
      scale: 0,
      ease: "elastic.in(0.8, 0.8)"
    });
  });

  // Fade out background
  timeline.to(oldSeasonBg, {
    opacity: 0
  });

  const newSeasonBg = document.querySelector(`#${newSeason}`);
  const newImages = document.querySelectorAll(`#${newSeason} > img`);

  // Fade in background
  timeline.to(newSeasonBg, {
    opacity: 1
  });

  // Bouncy in effect
  [...newImages].reverse().forEach((image) => {
    timeline.to(image, {
      scale: 1,
      ease: "elastic.out(0.8, 0.8)"
    });
  });

  timeline.play();
}

// The parallax effect listener to get the cursor position
document.addEventListener("mousemove", (event) => {
  const { clientX, clientY } = event;

  const screenWidth = window.innerWidth;
  const screenHeight = window.innerHeight;

  // Calculate mouse position as a percentage of the screen
  const mouseXPercentage = clientX / screenWidth;
  const mouseYPercentage = clientY / screenHeight;

  // Apply the effect to each layer of each season
  applyParallaxToSeason(currSeason, mouseXPercentage, mouseYPercentage);
});

// The parallax effect application to affect each layer depending on the season
function applyParallaxToSeason(seasonId, mouseXPercent, mouseYPercent) {
  const season = document.getElementById(seasonId);
  const background = season.querySelector(".background");
  const middleground = season.querySelector(".middleground");
  const foreground = season.querySelector(".foreground");

  // Apply different intensities for each layer using GSAP
  gsapMoveLayer(background, mouseXPercent, mouseYPercent, 0.05);
  gsapMoveLayer(middleground, mouseXPercent, mouseYPercent, 0.1);
  gsapMoveLayer(foreground, mouseXPercent, mouseYPercent, 0.15);
}

// The parallax effect itself to move layers via gsap
function gsapMoveLayer(layer, mouseXPercent, mouseYPercent, intensity) {
  if (!layer) return;

  const xOffset = (mouseXPercent - 0.5) * intensity * 100;
  const yOffset = (mouseYPercent - 0.5) * intensity * 100;

  gsap.to(layer, {
    x: xOffset,
    y: yOffset,
    ease: "none", // Use "none" for a smoother, direct tracking effect
    duration: 0.1 // You can adjust the duration for a more or less responsive effect
  });
}
</script>