---

---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Scroll</title>
  </head>
  <body>
    <div class="page"></div>

    <div class="content">
        <div class="content-section">
            <div>
                <h1>Dude and Scroll</h1>
                <p class="arrow-animated">↓</p>
            </div>
        </div>
        <div class="content-section">
            <div>
                <h1>What's this?</h1>
                <p>
                    That's <a href="https://twitter.com/uuuuuulala" target="_blank">me</a> learning
                    the basic walk cycle animation and playing with the GSAP implementation&nbsp;of&nbsp;it.
                </p>
            </div>
        </div>
        <div class="content-section">
            <div>
                <h1>So what?</h1>
                <p>
                    You can use this code and design concept for your project.
                    The animation parameters are easy to tweak, graphic elements can be replaced.
                </p>
                <p>
                    You can also give me a follow on <a href="https://www.linkedin.com/in/ksenia-kondrashova/" target="_blank">linkedin</a>, <a href="https://codepen.io/ksenia-k" target="_blank">codepen</a> and <a href="https://twitter.com/uuuuuulala" target="_blank">twitter</a> :)
                </p>
            </div>
        </div>
        <div class="content-section">
        </div>
    </div>
    
    <div class="animation-container">
        <svg viewBox="0 -10 315 350">
            <g class="dude" stroke="black" stroke-width="7" stroke-linecap="round" stroke-linejoin="round" fill="none">
                <g class="leg">
                    <path class="leg-bottom" d="M182,317l-10.4-2.8c-2.7-0.7-4.5-3.2-4.4-6c1.7-13,3-27,3.7-42.1c0.8-16.5,0.7-32,0.1-46.1"/>
                    <path d="M171,220l6-60"/>
                </g>
                <g class="leg">
                    <path class="leg-bottom" d="M182,317l-10.2-2.7c-2.8-0.8-4.7-3.4-4.6-6.3c-0.8-13.9-1-29.2-0.2-45.8c0.7-15.2,2.1-29.4,4-42.2"/>
                    <path d="M171,222c0.3-10,4.3-42,5.3-48"/>
                </g>
    
                <g class="arm">
                    <path d="M175,75c-0.6,8.7-0.6,18.9,0.8,30.1c0.6,4.6,1.3,8.9,2.2,12.9"/>
                    <path class="arm-bottom" d="M186,175c-0.2-3.1-0.4-6.2-0.7-9.3c-1.5-16.9-4.1-32.9-7.3-47.7"/>
                </g>
                <g class="arm">
                    <path d="M178.8,82.2c-1.9,13.1-1.8,25.2-0.8,35.8"/>
                    <path class="arm-bottom" d="M186,175c-2.4-7.6-4.7-16.8-6.3-27.2c-1.6-11.3-2-21.3-1.7-29.8"/>
                </g>
                <path class="head" d="M195,14.8c-10.8-5.7-23.9,1.3-28.2,12.4c-4.9,13,6.3,28.4,17.8,29.1c13.2,0.8,22.2-16.1,19.5-26.7c-1.6-6.5-5.2-7.1-5.2-7.1"/>
            </g>
        </svg>
    </div>
    
      <script is:inline src="https://unpkg.co/gsap@3/dist/gsap.min.js"></script>
      <script is:inline src="https://unpkg.com/gsap@3/dist/ScrollTrigger.min.js"></script>
      <script is:inline src="https://unpkg.com/gsap@3/dist/ScrollToPlugin.min.js"></script>
  </body>
</html>

<style>
html, body {
    margin: 0;
    padding: 0;
}

.animation-container {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 30%;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: sans-serif;
    font-size: 15px;
}

svg {
    height: 42vh;
}

.page {
    height: 400vh;
}

.content {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
}

.content-section {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
}

.content-section:nth-child(1) {
    background-color: #E2D03E;
}

.content-section:nth-child(2) {
    background-color: #4DAE85;
}

.content-section:nth-child(3) {
    background-color: #ED5D53;
}

.content-section:nth-child(4) {
}


.content-section > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin-top: -10vh;
    max-width: 700px;
    text-align: center;
}

h1 {
    padding: 0;
    margin: .5em 0;
}

p {
    padding: 0;
    margin: .25em 0;
}

a {
    color: black;
}

.arrow-animated {
    font-size: 35px;
    animation: arrow-float 1s infinite;
}

@keyframes arrow-float {
    0% {
        transform: translateY(0);
        animation-timing-function: ease-out;
    }
    60% {
        transform: translateY(50%);
        animation-timing-function: ease-in-out;
    }
    100% {
        transform: translateY(0);
        animation-timing-function: ease-out;
    }
}
</style>

<script>
const dude = document.querySelector(".dude");
const head = dude.querySelector(".head");
const legs = Array.from(dude.querySelectorAll(".leg"));
const arms = Array.from(dude.querySelectorAll(".arm"));
const legBottoms = Array.from(dude.querySelectorAll(".leg-bottom"));
const armBottoms = Array.from(dude.querySelectorAll(".arm-bottom"));

const content = document.querySelector(".content");
const arrowEl = document.querySelector(".arrow-animated");


gsap.set(arms, {
    svgOrigin: "180 58"
});
gsap.set(head, {
    svgOrigin: "180 45",
});
gsap.set(armBottoms, {
    svgOrigin: "178 118"
});
gsap.set(legs, {
    svgOrigin: "177 145",
});
gsap.set(legBottoms, {
    svgOrigin: "171 220"
});


const halfBodyTimeline = (leg, arm) => {
    const legBottom = leg.querySelector(".leg-bottom");
    const armBottom = arm.querySelector(".arm-bottom");

    return gsap.timeline({
        repeat: -1,
        paused: true
    })
        .fromTo(leg, {
            rotation: -25
        }, {
            duration: .5,
            rotation: 15,
            ease: "sine.inOut"
        }, 0)
        .to(leg, {
            duration: .25,
            rotation: -25,
            ease: "sine.in"
        }, ">")
        .to(legBottom, {
            duration: .25,
            rotation: 15,
            ease: "sine.inOut"
        }, .25)
        .to(legBottom, {
            duration: .25,
            rotation: 80,
            ease: "sine.in"
        }, ">")
        .to(legBottom, {
            duration: .25,
            rotation: 0,
            ease: "sine.out"
        }, ">")
        .fromTo(arm, {
            rotation: -12
        }, {
            duration: .5,
            rotation: 12,
            ease: "sine.inOut",
            yoyo: true,
            repeat: 1
        }, 0)
        .fromTo(armBottom, {
            rotation: -15
        }, {
            duration: .5,
            rotation: 10,
            ease: "sine.inOut",
            yoyo: true,
            repeat: 1
        }, 0)
}

const backCycle = halfBodyTimeline(legs[0], arms[1]);
const frontCycle = halfBodyTimeline(legs[1], arms[0]);




const bodyTimeline = gsap.timeline({
    paused: true,
})
    .to(dude, {
        duration: .25,
        y: "-=20",
        repeat: -1,
        yoyo: true,
        ease: "sine.inOut"
    }, 0)
    .fromTo(head, {
        rotation: -25
    }, {
        duration: .25,
        rotation: 1,
        repeat: -1,
        yoyo: true,
        ease: "sine.inOut"
    }, 0)




const numberOfCycles = Math.ceil(3 * window.innerWidth / window.innerHeight)
gsap.timeline({
    scrollTrigger: {
        trigger: ".page",
        scrub: true,
        start: "0% 0%",
        end: "100% 100%",
    },
})
    .to(arrowEl, {
        duration: .05,
        opacity: 0
    }, 0)
    .fromTo(content, {
        xPercent: 0
    }, {
        xPercent: -50,
        easy: "none"
    }, 0)

    .fromTo(bodyTimeline, {
        time: .7
    }, {
        time: .75 + numberOfCycles
    }, 0)
    .fromTo(backCycle, {
        time: .7
    }, {
        time: .75 + numberOfCycles
    }, 0)
    .fromTo(frontCycle, {
        time: .2
    }, {
        time: .25 + numberOfCycles
    }, 0)



window.addEventListener("resize", () => {
    ScrollTrigger.refresh();
});


// ---------------------------------------------
// ONLY FOR CODEPEN PREVIEW

gsap.set(window, {
    scrollTo: 0
})
gsap.timeline({})
    .to(window, {
        duration: 1.75,
        scrollTo: .32 * window.innerHeight,
        ease: "power1.inOut"
    }, .3);  
</script>