---

---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Scroll</title>
    <link href='//fonts.googleapis.com/css?family=Signika+Negative:300,400,600' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <article>
        <img src="https://images.unsplash.com/photo-1517849845537-4d257902454a?auto=format&fit=crop&q=80&w=1000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" />
        <div class="content">
            <h1>We all know everyone only skims articles these days.</h1>
            <p>
                I'm baby kickstarter authentic farm-to-table fam whatever. Unicorn keytar food truck neutral milk hotel kogi you probably haven't heard of them distillery gastropub paleo seitan actually quinoa try-hard.
            </p>
            <p>
                Gochujang bitters vexillologist, pop-up sriracha shabby chic ascot flannel tattooed fanny pack. <mark>But there’s a lot of good stuff in the article body.</mark> Quinoa subway tile tacos af listicle prism.
            </p>
            <p>
                Biodiesel pop-up fam ramps vegan microdosing woke. YOLO gentrify celiac hot chicken big mood fanny pack.
            </p>
            <p>
                Succulents shoreditch crucifix, pork belly intelligentsia thundercats bespoke taxidermy hoodie plaid mustache solarpunk biodiesel. <mark>How do we get anyone to read it?</mark> Taxidermy echo park occupy blackbird spyplane pitchfork, food truck small batch.
            </p>
            <p>
                Man bun lomo put a bird on it fit raw denim tumeric gastropub yes plz gorpcore listicle cloud bread brunch heirloom typewriter green juice. Pickled cliche next level, affogato butcher tilde four loko.
            </p>
            <p>
                Vegan keytar chambray air plant asymmetrical, kale chips biodiesel seitan literally street art skateboard kickstarter locavore bruh franzen.
            </p>
            <h2>Headlines are often the only parts that get read.</h2>
            <p>
                Kickstarter thundercats kale chips waistcoat bodega boys asymmetrical raclette bespoke church-key flannel flexitarian. <mark>Maybe we can call some attention to other parts of the story.</mark> Swag neutra edison bulb, wolf forage put a bird on it tofu fanny pack.
            </p>
            <p>
                Pug godard mustache deep v jawn 3 wolf moon sus. Schlitz asymmetrical everyday carry DSA ramps raclette.
            </p>
            <p>
                Live-edge Brooklyn ramps prism. Chicharrones retro sustainable messenger bag bruh vibecession try-hard gastropub viral iceland polaroid VHS. <mark>The details are what make a story great, after all.</mark> Occupy tumblr heirloom hot chicken, cliche Brooklyn pickled XOXO actually bushwick everyday carry swag ennui tattooed food truck.
            </p>
            <p>
                Pug letterpress readymade, migas retro gatekeep listicle ugh cronut gastropub venmo everyday carry. Chicharrones vinyl gastropub scenester blog beard truffaut trust fund. <mark>We just have to convince folks to notice.</mark> Crucifix pitchfork swag vegan pinterest taxidermy hashtag mumblecore freegan normcore yr hella iceland butcher.
            </p>
            <p>
                Brunch swag fingerstache, bushwick pop-up banjo schlitz 3 wolf moon stumptown edison bulb bodega boys. Hell of cliche polaroid, cloud bread whatever distillery VHS glossier tofu grailed. Distillery mustache skateboard, locavore celiac big mood salvia tonx. Banjo JOMO tote bag flexitarian seitan readymade. Biodiesel trust fund pork belly, XOXO jawn venmo mukbang fashion axe.
            </p>
            <p>
                <mark>Let’s give ’em a little nudge.</mark>
            </p>
            <p>
                Tofu messenger bag Brooklyn, godard palo santo microdosing coloring book meggings keffiyeh. Gentrify gochujang direct trade franzen.
            </p>
        </div>
    </article>
  </body>
</html>

<style>
/**
 * I saw a pen from Ryan Mulligan using GSAP’s ScrollTrigger
 * and wanted to see if I could get something similar
 * running with pure CSS. 
 *
 * @see https://codepen.io/hexagoncircle/pen/gOPMwvd
 */

 @keyframes highlight {
	to {
		background-position: 0;
	}
}

mark {
	animation: highlight linear forwards;
	animation-timeline: view(60% 20%);
	background: linear-gradient(
		to right,
		oklch(0.86 0.19 84.89 / 1) 50%,
		oklch(0.86 0.19 84.89 / 0) 50%
	);
	background-position: 100%;
	background-size: 200% 100%;
	border-radius: 0.125rem;
	padding-inline: 0.125rem;
}

/************************************************
 * Other styles to make the demo look nice.
 ***********************************************/

* {
	box-sizing: border-box;
}

html {
	color: oklch(0.2 0.19 84.89 / 1);
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
		Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-size: 24px;
	line-height: 1.45;
}

body {
	margin: 0;
}

article {
	display: grid;
	min-height: 100svh;
	place-items: center;
	width: 100%;

	& .content {
		padding-block: 2rem 30svh;
		width: min(600px, 90vw);
	}

	& img {
		object-fit: cover;
		height: max(60svh, 60vw);
		width: 100%;
	}
}

:is(h1, h2) {
	margin: 0;
	line-height: 1.1;
}

h2 {
	margin-block-start: 2rem;
}

</style>